
footer{   background-color: #5E5D5C;}

#page-container {
 display: flex;
 justify-items: center;
 flex-direction: column;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: relative;
  padding-bottom: 0%;
  padding-top: 5px;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
