.radio {
    width: 50px;
    background-color:grey;
    height: 10px;
   
}

#text-area{
    width: 90%;
    margin-left: 5%;
    background-color: grey;
   
}
#json{
    height: 100%;
    overflow: scroll;
}

#form-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
form{
 padding-top: 10px;
 padding-bottom: 10px;
}

